@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.4375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.4375rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.75rem;
    font-size: calc( 1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #4f87fb !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #6d7a8c !important;
}
.bg-warning {
  background-color: #e6ecf2 !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #130947 !important;
  border-color: #130947 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
  color: #4a6d8f !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #054cdf;
  color: #054cdf;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #4f87fb;
  border-color: #4f87fb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #130947;
  border-color: #130947;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #130947 !important;
  border-color: #130947 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #404853;
  color: #404853;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #6d7a8c;
  border-color: #6d7a8c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #a3b9cf;
  color: #a3b9cf;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4a6d8f;
  background-color: #e6ecf2;
  border-color: #e6ecf2;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4a6d8f !important;
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4f87fb !important;
}
.text-secondary {
  color: #130947 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #6d7a8c !important;
}
.text-warning {
  color: #e6ecf2 !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #054cdf !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #404853 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a3b9cf !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6d7a8c;
}
.alert-warning {
  background-color: #e6ecf2;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f87fb;
  border-color: #4f87fb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4f87fb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4bbc5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f87fb;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #4f87fb !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f87fb;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f87fb;
  border-bottom-color: #4f87fb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #130947 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f87fb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rU3i4zozYd {
  padding-top: 150px;
  padding-bottom: 45px;
  background-color: #f2f6ff;
  position: relative;
  overflow: hidden;
}
.cid-rU3i4zozYd .svg1 {
  position: absolute;
  bottom: 4.6rem;
  left: 50%;
  transform: translate(-50%) scale(1.3, 1.2);
}
.cid-rU3i4zozYd #e1_circle,
.cid-rU3i4zozYd #e3_circle,
.cid-rU3i4zozYd #e4_circle,
.cid-rU3i4zozYd #e5_circle {
  fill: #e1e8ff !important;
}
.cid-rU3i4zozYd #e6_circle {
  fill: #bfceff !important;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@keyframes rev {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(360deg);
  }
}
.cid-rU3i4zozYd .round {
  border-radius: 100%;
  position: absolute;
  background-color: #e1e8ff;
  animation: orbit 4s linear infinite;
}
.cid-rU3i4zozYd .rev {
  animation: rev 4s linear infinite;
}
.cid-rU3i4zozYd .round1 {
  width: 50px;
  height: 50px;
  left: 7%;
  top: 60%;
}
.cid-rU3i4zozYd .round2 {
  width: 90px;
  height: 90px;
  left: 15%;
  top: 15%;
}
.cid-rU3i4zozYd .round3 {
  width: 40px;
  height: 40px;
  left: 30%;
  top: 15%;
}
.cid-rU3i4zozYd .round4 {
  width: 90px;
  height: 90px;
  left: 40%;
  top: 3%;
}
.cid-rU3i4zozYd .round5 {
  width: 50px;
  height: 50px;
  right: 5%;
  top: 55%;
}
.cid-rU3i4zozYd .round6 {
  width: 30px;
  height: 30px;
  right: 30%;
  top: 15%;
}
.cid-rU3i4zozYd .round7 {
  width: 70px;
  height: 70px;
  right: 20%;
  top: 20%;
}
.cid-rU3i4zozYd .round8 {
  width: 110px;
  height: 110px;
  right: 8%;
  top: 30%;
}
.cid-rU3i4zozYd .round9 {
  width: 90px;
  height: 90px;
  right: 7%;
  top: 70%;
}
.cid-rU3i4zozYd .round10 {
  width: 50px;
  height: 50px;
  right: 35%;
  top: 5%;
}
.cid-rU3i4zozYd .round11 {
  width: 70px;
  height: 70px;
  left: 8%;
  top: 35%;
}
.cid-rU3i4zozYd H1 {
  color: #6d7a8c;
}
.cid-rU3i4zozYd .mbr-text,
.cid-rU3i4zozYd .mbr-section-btn {
  color: #716c80;
}
.cid-rU3i4zozYd img {
  width: 100%;
  margin: 0 auto;
}
.cid-rU3i5wPjCB {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-rU3i5wPjCB svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.8, 1.8);
}
.cid-rU3i5wPjCB #e1_ellipse {
  fill: #e1e8ff !important;
}
.cid-rU3i5wPjCB img {
  width: 80%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 10px 55px 5px rgba(31, 15, 116, 0.35);
}
@media (max-width: 576px) {
  .cid-rU3i5wPjCB img {
    width: 100%;
    left: 0;
  }
}
.cid-rU3i5wPjCB H1 {
  color: #6d7a8c;
}
.cid-rU3i5wPjCB .mbr-text,
.cid-rU3i5wPjCB .mbr-section-btn {
  color: #716c80;
}
.cid-rU3hZTSqSm {
  height: 0 !important;
}
.cid-rU3hZTSqSm .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #130947;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rU3hZTSqSm .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-rU3hZTSqSm .nav-item:focus,
.cid-rU3hZTSqSm .nav-link:focus {
  outline: none;
}
.cid-rU3hZTSqSm .text-white:hover,
.cid-rU3hZTSqSm .text-white:active,
.cid-rU3hZTSqSm .text-white:focus {
  color: white!important;
}
.cid-rU3hZTSqSm .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #e1e8ff;
}
.cid-rU3hZTSqSm .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-rU3hZTSqSm .navbar.opened {
  transition: all .3s;
  background: #e1e8ff !important;
}
.cid-rU3hZTSqSm .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rU3hZTSqSm .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-rU3hZTSqSm .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rU3hZTSqSm .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rU3hZTSqSm .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rU3hZTSqSm .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rU3hZTSqSm .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rU3hZTSqSm .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rU3hZTSqSm .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rU3hZTSqSm .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rU3hZTSqSm .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rU3hZTSqSm .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rU3hZTSqSm .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rU3hZTSqSm .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rU3hZTSqSm .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rU3hZTSqSm .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rU3hZTSqSm .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rU3hZTSqSm .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rU3hZTSqSm .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rU3hZTSqSm .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rU3hZTSqSm .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rU3hZTSqSm .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rU3hZTSqSm .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rU3hZTSqSm .navbar.navbar-short {
  background: #e1e8ff !important;
  min-height: 60px;
}
.cid-rU3hZTSqSm .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rU3hZTSqSm .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rU3hZTSqSm .section {
  position: relative;
  overflow: visible!important;
}
.cid-rU3hZTSqSm .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-rU3hZTSqSm .dropdown-item:hover {
  color: black!important;
}
.cid-rU3hZTSqSm .dropdown-menu {
  background-color: white!important;
}
.cid-rU3hZTSqSm .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(31, 15, 116, 0.35);
  display: block;
}
.cid-rU3hZTSqSm .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #130947;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rU3hZTSqSm .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-rU3hZTSqSm .nav-item {
    position: relative;
  }
}
.cid-rU3hZTSqSm .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rU3hZTSqSm .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rU3hZTSqSm .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
  padding-right: 1rem;
}
.cid-rU3hZTSqSm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rU3hZTSqSm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rU3hZTSqSm .collapsed {
  flex-direction: row!important;
}
.cid-rU3hZTSqSm .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rU3hZTSqSm .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rU3hZTSqSm .navbar-caption {
  font-weight: 600!important;
}
.cid-rU3hZTSqSm .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rU3hZTSqSm .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rU3hZTSqSm .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rU3hZTSqSm .dropdown-item.active,
.cid-rU3hZTSqSm .dropdown-item:active {
  background-color: transparent;
}
.cid-rU3hZTSqSm .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rU3hZTSqSm .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rU3hZTSqSm .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rU3hZTSqSm .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #e1e8ff;
}
.cid-rU3hZTSqSm .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rU3hZTSqSm ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rU3hZTSqSm .navbar-buttons {
  text-align: center;
}
.cid-rU3hZTSqSm button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rU3hZTSqSm button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #57468b;
}
.cid-rU3hZTSqSm button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rU3hZTSqSm button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rU3hZTSqSm button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rU3hZTSqSm button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rU3hZTSqSm nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU3hZTSqSm nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rU3hZTSqSm nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rU3hZTSqSm nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU3hZTSqSm .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rU3hZTSqSm .nav-link {
  font-weight: 600!important;
}
.cid-rU3hZTSqSm a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rU3hZTSqSm .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rU3hZTSqSm .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rU3hZTSqSm .icons-menu span {
  font-size: 26px;
  color: #4f87fb;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rU3hZTSqSm .navbar {
    height: 77px;
  }
  .cid-rU3hZTSqSm .navbar.opened {
    height: auto;
  }
  .cid-rU3hZTSqSm .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rU3jpp4N7N {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #e1e8ff;
}
.cid-rU3jpp4N7N .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rU3jpp4N7N input,
.cid-rU3jpp4N7N textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  min-height: 3rem;
  padding: 20px 10px 20px 20px;
  font-size: 13px;
  color: #130947;
  font-weight: 600;
}
.cid-rU3jpp4N7N input:focus,
.cid-rU3jpp4N7N textarea:focus {
  border-left: none;
  border-top: none;
  border-right: none;
}
.cid-rU3jpp4N7N .form-control,
.cid-rU3jpp4N7N .field-input {
  padding: 20px 10px 20px 20px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rU3jpp4N7N .form-control:hover,
.cid-rU3jpp4N7N .field-input:hover,
.cid-rU3jpp4N7N .form-control:focus,
.cid-rU3jpp4N7N .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rU3jpp4N7N input::-webkit-input-placeholder,
.cid-rU3jpp4N7N textarea::-webkit-input-placeholder {
  color: #6d7a8c;
}
.cid-rU3jpp4N7N input:-moz-placeholder,
.cid-rU3jpp4N7N textarea:-moz-placeholder {
  color: #6d7a8c;
}
.cid-rU3jpp4N7N .jq-selectbox li,
.cid-rU3jpp4N7N .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rU3jpp4N7N .jq-selectbox li:hover,
.cid-rU3jpp4N7N .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rU3jpp4N7N .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rU3jpp4N7N .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rU3jpp4N7N .mbr-subtitle {
  color: #4f87fb;
  font-weight: 800;
}
.cid-rU3jpp4N7N .mbr-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-rU3jpp4N7N .mbr-section-title {
  color: #130947;
  font-weight: 700;
}
.cid-rU3jpp4N7N .mbr-text {
  line-height: 28px;
  letter-spacing: 0;
  margin-top: 20px;
  color: #6d7a8c;
}
.cid-rU3jpp4N7N .mbr-section-title.display-2 {
  line-height: 48px;
  letter-spacing: -0.5px;
}
.cid-rU3jpp4N7N img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-rU3jpp4N7N .mbr-form {
  max-width: 550px;
}
.cid-rU3jpp4N7N textarea {
  min-height: 150px;
}
.cid-rU3jpp4N7N .mbr-form .btn {
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-width: 2px;
  border-radius: 4px;
  border-color: #4f87fb;
  color: #4f87fb;
  padding: 18px 29px;
}
.cid-rU3jpp4N7N .mbr-form .btn:hover {
  color: #ffffff;
}
.cid-rU3jpp4N7N .second {
  height: fit-content;
}
.cid-rU3jpp4N7N .second .inbox {
  position: static;
  bottom: -70px;
  width: 100%;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box {
  padding: 36px 20px 36px;
  background-color: #4f87fb;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget {
  padding-top: 0.5rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-icon {
  display: inline-block;
  border-radius: 100%;
  padding: 22px;
  background-color: #ffffff;
  font-size: 3.45rem;
  color: #130947;
  margin-right: 15px;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .signature {
  width: 40%;
  height: 75px;
  display: inline-block;
  margin-right: 15px;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-content {
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
  color: #ffffff;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-content .widget-title {
  margin-bottom: 7px;
  letter-spacing: 2px;
  font-weight: 700;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-content .widget-title.display-7 {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-content .widget-text {
  margin-bottom: 0;
  font-weight: 700;
}
.cid-rU3jpp4N7N .second .inbox .inbox-box .info-widget .widget-content .widget-text.display-5 {
  line-height: 36px;
  letter-spacing: -0.5px;
}
@media (max-width: 768px) {
  .cid-rU3jpp4N7N .mbr-section-title {
    text-align: left;
  }
  .cid-rU3jpp4N7N .second {
    margin-top: 30px;
  }
}
.cid-rSbcsFlJOV {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e1e8ff;
}
.cid-rSbcsFlJOV .links {
  text-align: center;
  color: #4f87fb;
}
.cid-rSbcsFlJOV p {
  margin: 0;
}
.cid-rSbcsFlJOV a {
  color: #ffffff;
}
.cid-rSbcsFlJOV a:hover {
  color: #4f87fb !important;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
